$color-white: #faed26;
$color-black: #000;

// $color-primary: #49274a;
// $color-secondary: #e8eee7;
// $color-tertiary: #94618e;
// $color-quaternary: #f4decb;

$color-primary: #46344e;
$color-secondary: #5a5560;
$color-tertiary: #9d8d8f;
$color-quaternary: #9b786f;
//$color-quinary: ;

$color-grey-dark: #777;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Effective accent colors
// $color-primary: #faed26;
// $color-secondary: #46244e;
// $color-tertiary: #5a5560;
// $color-four: #9d8d8f;
// $color-five: #9b786f;

// $color-primary: #66fcf1
// $color-secondary: #0b0c10
// $color-tertiary: #45a29e
// $color-four: #1f2833
// $color-five: #c5c6c7

// $color-primary:  #6e3667;
// $color-secondary: #1a0315;
// $color-white:#88d317;

// $color-primary: #88d317;
// $color-secondary: #6e3667;
// $color-tertiary: #1a0315;
// $color-four: #535353;
// $color-five: #c5c6c7

