//SASS VARIABLES
$bp-largest: 75em;      // 1200px // 1200/16=75
$bp-large: 68.75em;     // 1100px // 1100/16=68.75
$bp-medium: 56.25em;    // 900px // 900/16=56.25
$bp-small: 37.5em;      // 600px // 600/16=37.5
$bp-smallest: 31.25em;  // 500px // 500/16=31.25


*,
*::before,
*::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    // this defines what 1rem is
    font-size: 62.5%; // 1rem = 10px;   10px / 16px = 62.5%

    @media only screen and (max-width: $bp-largest) {
        font-size: 75%; //1rem = 12px;   12px / 16px = 75%
    }
 
    @media only screen and (max-width: $bp-large) {
        font-size: 56.25%; //1rem = 9px;   9px / 16px = 56.25%
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%; // 1rem = 8px, 8px/16px = 50%
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 30%; //1rem = 4.8px
    }

    // @media only screen and (max-width: $bp-smallest) {
    //     font-size: 50%; // 1rem = 8px, 8px/16px = 50%
    // }


    // @include respond(tab-land) {
    //     font-size: 56.25%; //1rem = 9px;   9px / 16px = 56.25%
    // }
    
    // @include respond(tab-port) {
    //     font-size: 50%; //1rem = 8px;   8px / 16px = 50%
    // }
    
    // @include respond(phone) {
    //     font-size: 30%; //1rem = 4.8px
    // }

    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12px;   12px / 16px = 75%
    // }
}

body {
    box-sizing: border-box; 
    padding: 3rem;  //white border around the page

    font-family: "Lato", sans-serif; 
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}