.about-me {
    grid-column: 1 / -1;    

    background-color: $color-secondary;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    
    &__heading {
        grid-column: 1 / -1;
        text-align: center;

        margin-top: -18rem;
        padding-top: 25rem;
        background-color: $color-secondary;
        // background-image: linear-gradient(
        //     to right bottom, 
        //     rgba($color-tertiary, .9),
        //     rgba($color-tertiary, .9)); 

        // clip-path: polygon(0 20%, 30% 0, 100% 0, 100% 80%, 70% 95%, 0 95%);
    }

    &__content {
        //padding: 6rem 8vw;
        padding-top: 1rem;
        padding-left: 15rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &--text {
            font-size: 1.2rem;
        }
    }

    &__images {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;    // Picture centered vertically

        &--1 {
            width: 70%;
            grid-row: 2 / 6;
            grid-column: 3 / 6;

            border-radius: 2px;
            //border-radius: 50%;
            //box-shadow: 0 2rem 3rem rgba($color-black, .4);
            transition: all .2s;

            &:hover {
                transform: scale(1.4);
                outline: .2rem solid rgba($color-white, .5);
                box-shadow: 0 3rem 5rem rgba($color-black, .5);
                outline-offset: 1rem;
            }
        }
    }
}



