
.header {
    //grid-column: 2 / span 8;
    grid-column: 1 / -1;
    height: 115vh; 
    // background-image: linear-gradient(
    //     to right bottom, 
    //     rgba($color-primary, .9),
    //     rgba($color-secondary, .9)), 
    //     url('/static/images/2_brick.jpg'); 
    background-image: linear-gradient(
        170deg, 
        rgba($color-primary, .9),
        rgba($color-secondary, .9) 95%,
        rgba($color-secondary, 1) 100%), 
        url('/static/images/2_brick.jpg');
    background-size: cover; 
    background-position: top; 
    position: relative; 

    //clip-path: polygon(0 20%, 30% 0, 100% 0, 100% 80%, 70% 95%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

    &__text-box {
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center; 
    }


    &__text {
        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 4rem;

        &--main {
            display: block;
            line-height: 1.4;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 1rem;
            animation: spreadInAndOut 4s ease-in-out;
        }

        &--sub {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: .2rem;
            animation: dropDown 2s ease-in-out 3.5s;
            animation-fill-mode: backwards;
        }
    }
}
