@keyframes dropDown {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-440%); }
  40% {
    opacity: 0;
    transform: translateY(-440%); }
  70% {
    opacity: 1;
    transform: translateY(40%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes spreadInAndOut {
  0% {
    letter-spacing: 0; }
  50% {
    letter-spacing: 5rem;
    padding-left: 4rem; }
  100% {
    letter-spacing: 1rem; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-name {
  font-size: 3rem;
  font-weight: 300;
  display: inline-block;
  color: #faed26; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  display: inline-block;
  color: #faed26; }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #382a3f; }

.u-text-align-center {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: .5rem 4rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  color: #5a5560;
  background-color: #faed26;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  color: #faed26;
  background-color: #382a3f;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.btn--submit {
  border: none;
  padding: 1rem 6rem; }

.about-me {
  grid-column: 1 / -1;
  padding: 5rem 15rem;
  background-color: #5a5560;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .about-me {
      padding: 7rem 15rem;
      grid-template-columns: 1fr;
      grid-gap: 8rem; } }
  .about-me__heading {
    grid-column: 1 / -1;
    text-align: center;
    background-color: #5a5560; }
  .about-me__gradient {
    grid-column: 1 / -1;
    height: 46vh;
    width: 100%;
    background-color: #5a5560; }
    @media only screen and (max-width: 37.5em) {
      .about-me__gradient {
        height: 25vh; } }
    .about-me__gradient--break {
      height: 100%;
      width: 100%;
      background-color: #faed26;
      clip-path: polygon(0 0, 100% 98%, 100% 100%, 0 100%);
      position: relative; }
      .about-me__gradient--break::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #382a3f;
        clip-path: polygon(0 1%, 100% 99%, 100% 100%, 0 100%); }
  .about-me__content {
    font-size: 1.6rem;
    color: #cfcdcd;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about-me__content--bold {
      font-size: 2rem;
      font-weight: 700; }
  .about-me__images {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: end; }
    @media only screen and (max-width: 75em) {
      .about-me__images {
        justify-items: center; } }
    .about-me__images--1 {
      width: 70%;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      border-radius: 3px;
      transition: all .2s; }
      @media only screen and (max-width: 75em) {
        .about-me__images--1 {
          width: 60%; } }
      .about-me__images--1:hover {
        transform: scale(1.4);
        outline: 0.2rem solid rgba(250, 237, 38, 0.5);
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
        outline-offset: 1rem; }
        @media only screen and (max-width: 75em) {
          .about-me__images--1:hover {
            transform: scale(1.2); } }
        @media only screen and (max-width: 75em) {
          .about-me__images--1:hover {
            transform: scale(1.1); } }
.contact-me {
  grid-column: full-start / full-end;
  background-color: #9d8d8f;
  padding-bottom: 10rem;
  font-size: 1.6rem; }
  .contact-me__heading {
    padding-bottom: 7rem;
    grid-column: 1 / -1;
    text-align: center;
    background-color: #9d8d8f; }
  .contact-me__links {
    display: flex;
    justify-content: center; }
  .contact-me__link:link, .contact-me__link:visited {
    margin: 2rem 3rem;
    text-decoration: none;
    color: #faed26;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s; }
  .contact-me__link:hover {
    transform: scale(1.2);
    text-shadow: 0 0.5rem 1rem rgba(70, 52, 78, 0.7); }
  .contact-me__link:active {
    color: #46344e;
    text-shadow: none; }
  .contact-me__icon {
    height: 5rem;
    width: 5rem;
    fill: #faed26; }
  .contact-me__icon:hover {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3)); }
  .contact-me__icon:active {
    fill: #46344e;
    filter: none; }

.form {
  width: 40%;
  margin: 3rem auto; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #faed26;
      background-color: rgba(255, 255, 255, 0.7); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #2b202f; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    color: #faed26;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.close-icon {
  position: fixed;
  top: 4.5rem;
  right: 5rem;
  z-index: 100; }
  .close-icon__link:link, .close-icon__link:visited {
    color: #faed26;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .close-icon__link:hover {
    color: #dad8dc; }

.details {
  grid-column: 1 / -1;
  min-height: 95vh;
  width: 100%;
  background-image: linear-gradient(168.6deg, rgba(43, 32, 47, 0.9), rgba(65, 61, 69, 0.9)), url("/static/images/2_brick.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch; }

.project-details {
  width: 90%;
  margin: 4rem auto;
  background-color: #382a3f;
  border-radius: 3px;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .project-details {
      flex-direction: column; } }
  .project-details__left {
    flex: 1 1 50%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 24rem);
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .project-details__left {
        order: 2;
        grid-template-columns: 1fr;
        grid-gap: 2rem; } }
  .project-details__composition {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    background-color: #46344e;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    transform: rotate(20deg); }
    @media only screen and (max-width: 37.5em) {
      .project-details__composition {
        transform: rotate(0); } }
    .project-details__composition--img {
      width: 100%;
      display: block; }
    .project-details__composition--text {
      display: inline-block;
      padding: .5rem;
      color: #faed26;
      font-weight: 300; }
    .project-details__composition:hover {
      transform: scale(2.2) translateX(4rem);
      box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media only screen and (max-width: 75em) {
        .project-details__composition:hover {
          transform: scale(1.9) translateX(4rem); } }
  .project-details__right {
    flex: 1 1 50%;
    padding: 5%;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .project-details__right {
        order: 1; } }
  .project-details__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .project-details__text > *:not(:last-child) {
      margin-bottom: 3rem; }
    .project-details__text--name {
      padding-bottom: 3rem; }
    .project-details__text--tech {
      color: #9b786f; }
    .project-details__text--link:link, .project-details__text--link:visited {
      text-decoration: none;
      color: #777; }
    .project-details__text--link:hover {
      color: #faed26; }

.footer {
  grid-column: 1 / -1;
  height: 20vh;
  position: relative;
  background-color: #343137;
  background-size: cover; }
  .footer__text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    color: #faed26;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .4rem;
    transform: translate(-50%, -50%); }

.container {
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-row-gap: 0; }

.header {
  grid-column: 1 / -1;
  height: 115vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 75vh; } }
  .header__content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(168.6deg, rgba(43, 32, 47, 0.9), rgba(65, 61, 69, 0.9)), url("/static/images/2_brick.jpg");
    background-size: cover;
    background-position: bottom; }
  .header__gradient {
    height: 115vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent; }
    @media only screen and (max-width: 37.5em) {
      .header__gradient {
        height: 75vh; } }
    .header__gradient--break {
      height: 100%;
      width: 100%;
      background-color: #faed26;
      clip-path: polygon(0 99.6%, 100% 60.6%, 100% 100%, 0 100%);
      position: relative; }
      .header__gradient--break::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #5a5560;
        clip-path: polygon(0 100%, 100% 61%, 100% 100%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 1rem; }
  .header__text {
    color: #faed26;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem; }
    .header__text--main {
      display: block;
      line-height: 1.4;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 1rem;
      animation: spreadInAndOut 4s ease-in-out; }
    .header__text--sub {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: .2rem;
      animation: dropDown 2s ease-in-out 3.5s;
      animation-fill-mode: backwards; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: transparent;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#382a3f 50%, #9b786f);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #faed26;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #faed26 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #46344e;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
  .navigation__checkbox:checked ~ .navigation__nav > * {
    display: block; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #faed26;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        height: 2px; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        height: 1px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.projects {
  grid-column: full-start / full-end;
  background-color: #382a3f;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 8rem;
  justify-items: center; }
  .projects__heading {
    padding-bottom: 5rem;
    grid-column: 1 / -1;
    text-align: center;
    background-color: #382a3f; }
  .projects__gradient {
    grid-column: 1 / -1;
    height: 46vh;
    width: 100%;
    background-color: #382a3f; }
    @media only screen and (max-width: 37.5em) {
      .projects__gradient {
        height: 25vh; } }
    .projects__gradient--break {
      height: 100%;
      width: 100%;
      background-color: #faed26;
      clip-path: polygon(0 99%, 100% 0, 100% 102%, 0 102%);
      position: relative; }
      .projects__gradient--break::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #9d8d8f;
        clip-path: polygon(0 100%, 100% 1%, 100% 102%, 0 102%); }

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #46344e;
  padding-bottom: 1rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  transition: all .2s; }
  .project__image {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 40% 100%, 0 100%); }
  .project__btn {
    margin: 2rem auto; }

.resume {
  height: 100vh;
  width: 100%; }

/*# sourceMappingURL=main.css.map */