<!doctype html>
<html lang="en">
{% load static %}
{% load sass_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/icon-font.css">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    
    <title>Nadia Vedeneyeva</title>
</head>

<body>
    <!-- project-details -->

    <div class="details">

        <div class="project-details">
            <!-- project-details images -->
            <div class="project-details__left">
                {% for d in project.pictures.all %}
                <div class="project-details__composition">
                    <img class="project-details__composition--img" src="{{ d.picture.url }}">
                    <span class="project-details__composition--text">{{ d.screenshot_description }}</span>
                </div>
                {% endfor %}
            </div>

            <!-- project-details text -->
            <div class="project-details__right">
                <a href="{% url 'home' %}#projects" class="project-details__close">&times;</a>
                <div class="project-details__text">
                    {% for d in project.details.all %}
                    <h2 class="project-details__text--name heading-name">{{ project.name }}</h2>
                    <p class="project-details__text--details">{{ d.details }}</p>
                    <p class="project-details__text--tech">{{ d.tech }}</p>
                    <a href="{{ d.github }}" class="project-details__text--link">{{ d.github }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>