.about-me {
    grid-column: 1 / -1;  
    padding: 5rem 15rem;
    background-color: $color-secondary;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-largest) {
        padding: 7rem 15rem;
        grid-template-columns: 1fr;
        grid-gap: 8rem;
    }
    
    &__heading {
        grid-column: 1 / -1;
        text-align: center;
        background-color: $color-secondary;
    }

    &__gradient {
        grid-column: 1 / -1;
        height: 46vh;
        width: 100%;
        background-color: $color-secondary;

        @media only screen and (max-width: $bp-small) {
            height: 25vh;
        }

       
        &--break {
            height: 100%; 
            width: 100%;
            background-color: $color-accent;
            clip-path: polygon(0 0, 100% 98%, 100% 100%, 0 100%);
            position: relative;
    
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: darken($color-primary, 5%);
                clip-path: polygon(0 1%, 100% 99%, 100% 100%, 0 100%);
            }
        }
    }

    &__content {
        //padding-top: 1rem;
        //padding-left: 15rem;
        font-size: $default-font-size;
        color: $color-grey-light;

        display: flex;
        flex-direction: column;
        justify-content: center;


        &--bold {
            font-size: 2rem;
            font-weight: 700; 
        }
    }

    &__images {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;    // Picture centered vertically
        justify-items: end; //Picture is moved all the way to the right

        @media only screen and (max-width: $bp-largest) {
            justify-items: center;
        }

        &--1 {
            width: 70%;
            grid-row: 1 / -1;
            grid-column: 1 / -1;

            border-radius: 3px;
            transition: all .2s;

            @media only screen and (max-width: $bp-largest) {
                width: 60%;
            }

            &:hover {
                transform: scale(1.4);
                outline: .2rem solid rgba($color-accent, .5);
                box-shadow: 0 3rem 5rem rgba($color-black, .5);
                outline-offset: 1rem;

                @media only screen and (max-width: $bp-largest) {
                    transform: scale(1.2);
                }

                @media only screen and (max-width: $bp-largest) {
                    transform: scale(1.1);
                }
            }
        }
    }
}





