.contact-me {
    grid-column: full-start / full-end;
    background-color: $color-tertiary;
    padding-bottom: 10rem;
    font-size: $default-font-size;


    &__heading {
        padding-bottom: 7rem;
        grid-column: 1 / -1;
        text-align: center;
        background-color: $color-tertiary;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    &__link:link,
    &__link:visited {
        margin: 2rem 3rem;
        text-decoration: none;
        color: $color-accent;

        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .2s;
    }  

    &__link:hover {
        transform: scale(1.2);
        text-shadow: 0 .5rem 1rem rgba($color-primary, .7);
    }
    
    &__link:active {
        color: $color-primary;
        text-shadow: none;
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        fill: $color-accent;
    }

    &__icon:hover {
        filter: drop-shadow(0 .5rem 1rem rgba($color-black, .3)); 
    }

    &__icon:active {
        fill: $color-primary;
        filter: none;
    }
}


.form {
    width: 40%;
    margin: 3rem auto;

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: $default-font-size;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-accent;
            background-color: rgba(white, .7);
        }

        &:focus:invalid {
            border-bottom: 3px solid darken($color-primary, 10%);
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: $default-font-size;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        color: $color-accent;
        display: block; //for the margins to be applied
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}

