.projects {
    grid-column: full-start / full-end;
    background-color: darken($color-primary, 5%);
    padding: 5rem 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 8rem;
    justify-items: center;

    &__heading {
        padding-bottom: 5rem;
        grid-column: 1 / -1;
        text-align: center;
        background-color: darken($color-primary, 5%);
    }

    &__gradient {
        grid-column: 1 / -1;
        height: 46vh;
        width: 100%;
        background-color: darken($color-primary, 5%);

        @media only screen and (max-width: $bp-small) {
            height: 25vh;
        }
       
        &--break {
            height: 100%; 
            width: 100%;
            background-color: $color-accent;
            clip-path: polygon(0 99%, 100% 0, 100% 102%, 0 102%);
            position: relative;
    
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: $color-tertiary;;
                clip-path: polygon(0 100%, 100% 1%, 100% 102%, 0 102%);
            }
        }
    }
       
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: $color-primary;
    padding-bottom: 1rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 3rem rgba($color-black, .4);
    transition: all .2s;

    &__name {
        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }

    
    &__image {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 40% 100%, 0 100%);
    }

    &__btn {
       margin: 2rem auto; 
       align-self: flex-end;
    }
}




