.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: .5rem 4rem;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        color: $color-secondary;
        background-color: $color-accent;

        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem); 
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4); 

        &::after {
            transform: scaleX(1.4) scaleY(1.6); 
            opacity: 0; 
        }
    }

    &:active {
        color: $color-accent;
        background-color: darken($color-primary, 5%);
        box-shadow: 0 .5rem 1rem rgba($color-black, .3);
        transform: translateY(0);
    }

    &--submit {
        border: none;
        padding: 1rem 6rem;
    }
}